.first-learn-panel
  This is the 
  %span.gray-boldness="leanest" 
  way to 
  %br
  Bring your tech ideas to life.
  %br
  %br
  %span.gray-aside
    < no coding knowledge necessary />
  %br
  =image_tag("down_arrow.png", class:"learn-down-arrow")

.learn-panel
  =image_tag("Toby.png", class:"toby-learn")
  %br
  Hi! My name is Toby.
  %br
  I'll be coding your application as you we chat.
  %br
  %br
  =link_to "Sign up and start thinventing", new_user_path, class:"learn-link"