/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

div#circleBox
{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
  margin-top:.5em;
}
.circle
{
  @include border-radius(50%);
  width:.7em;
  height:.7em;
  display:block;
  margin-left:0.2em;
  margin-right:0.2em;
  float:left;
  border:Solid 0.1em #3D3D3F;

}
.greenBack
{
  background: rgba(46, 204, 113,1.0);
}
.sunflowerBack
{
  background:#f1c40f;
}
.darkBlueBack
{
  background:rgba(52, 73, 94,1.0);
}
.salmonBack
{
  background:rgba(229,146,128,1);
}

body, html{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  line-height:1.5;
}

body{
  background:rgb(231, 231, 231);
  font-family: 'Raleway', sans-serif;
  color:#3D3D3F;
}
.flashmsg
{
  text-align:right;
  height:2.5em;
}

h1
{
  font-family: 'Pacifico', cursive;
  font-size:2.2em;
  color:#3D3D3F;
}
.logo
{
  font-family: 'Pacifico', cursive;
  font-size:3em;
  color:rgba(61,61,63,0.7);
}
#logoBottom
{
  position:fixed;
  bottom:10px;
  right:10px
}

.aside
{
  font-size:.6em;  
}

.field label
{
  display:block;
  font-size:1em;
}

.field input
{
  width:60%;
  font-size:1em;
  padding:5px;
  text-align:center;
}
.field textarea
{
  width:60%;
  height:3.2em;
  font-size:1em;
  padding:5px;
}
.page-background
{
  height:100%;
  width:100%;
  padding-top:8em;
}

.login-background
{
  background:rgba(229,146,128,1);
}

input[type="submit"]
{
  border-color:2px Solid #3D3D3F;
  @include border-radius(0.2em);
  font-size:1.2em;
  background:rgba(200,200,200,0.5);
  cursor:pointer;
}

