// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.first-learn-panel
{
  font-size:2em;
  width:100%;
  float:none;
  text-align:center;
  height:auto;
  position:relative;
  top:25%;
}
.learn-panel
{
  font-size:2em;
  width:100%;
  float:none;
  text-align:center;
  height:auto;
  position:relative;
  top:80%;
  margin-bottom:15%;
}
.gray-aside
{
  font-size:.6em;  
}
.gray-boldness
{
  color:#2ECC71;
}

.toby-learn
{
  height:8em;
  width:auto;
}
.learn-down-arrow
{
  margin-top:4em;
  height:2em;
  width:auto;
}

a.learn-link
{
  color:#2ECC71;
}
a.learn-link:hover
{
  background-color:Transparent;
  color:#64F3D5;
}
a.learn-link:active
{
  color:#20C065;
}
a.learn-link:visited
{
  color:#2ECC71;
}